[submodule "svc_kube_vision_opencvplus/dependencies/nanoflann"]
	path = svc_kube_vision_opencvplus/dependencies/nanoflann
	url = https://github.com/jlblancoc/nanoflann
[submodule "svc_kube_vision_opencvplus/dependencies/libzmq"]
	path = svc_kube_vision_opencvplus/dependencies/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "svc_kube_vision_opencvplus/dependencies/nanomsg"]
	path = svc_kube_vision_opencvplus/dependencies/nanomsg
	url = https://github.com/nanomsg/nanomsg
[submodule "svc_kube_vision_opencvplus/dependencies/libmill"]
	path = svc_kube_vision_opencvplus/dependencies/libmill
	url = https://github.com/sustrik/libmill
[submodule "svc_kube_vision_opencvplus/dependencies/h2o"]
	path = svc_kube_vision_opencvplus/dependencies/h2o
	url = https://github.com/h2o/h2o
[submodule "svc_kube_vision_opencvplus/dependencies/bond"]
	path = svc_kube_vision_opencvplus/dependencies/bond
	url = https://github.com/Microsoft/bond
[submodule "svc_kube_vision_opencvplus/dependencies/libsodium"]
	path = svc_kube_vision_opencvplus/dependencies/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "svc_kube_vision_opencvplus/dependencies/etcd-cpp-api"]
	path = svc_kube_vision_opencvplus/dependencies/etcd-cpp-api
	url = https://github.com/nokia/etcd-cpp-api
[submodule "svc_kube_vision_opencvplus/dependencies/protobuf"]
	path = svc_kube_vision_opencvplus/dependencies/protobuf
	url = https://github.com/google/protobuf
[submodule "svc_kube_vision_opencvplus/dependencies/quasi_invariant-features"]
	path = svc_kube_vision_opencvplus/dependencies/quasi_invariant-features
	url = https://github.com/eokeeffe/quasi_invariant-features
[submodule "svc_kube_vision_opencvplus/dependencies/qhttp"]
	path = svc_kube_vision_opencvplus/dependencies/qhttp
	url = https://github.com/azadkuh/qhttp
[submodule "svc_kube_vision_opencvplus/dependencies/opencv-practical-code"]
	path = svc_kube_vision_opencvplus/dependencies/opencv-practical-code
	url = https://github.com/willard-yuan/opencv-practical-code
[submodule "svc_kube_vision_opencvplus/dependencies/DBoW2"]
	path = svc_kube_vision_opencvplus/dependencies/DBoW2
	url = https://github.com/thierrymalon/DBoW2
[submodule "svc_kube_vision_opencvplus/dependencies/libqtaws"]
	path = svc_kube_vision_opencvplus/dependencies/libqtaws
	url = https://github.com/pcolby/libqtaws
[submodule "svc_kube_vision_opencvplus/dependencies/QtWebService"]
	path = svc_kube_vision_opencvplus/dependencies/QtWebService
	url = https://github.com/Nava2/QtWebService
[submodule "svc_kube_vision_opencvplus/dependencies/DistributedSearch"]
	path = svc_kube_vision_opencvplus/dependencies/DistributedSearch
	url = https://github.com/daniel-j-h/DistributedSearch
[submodule "svc_kube_vision_opencvplus/dependencies/tufao"]
	path = svc_kube_vision_opencvplus/dependencies/tufao
	url = https://github.com/vinipsmaker/tufao
[submodule "svc_kube_vision_opencvplus/dependencies/hiredis"]
	path = svc_kube_vision_opencvplus/dependencies/hiredis
	url = https://github.com/redis/hiredis
[submodule "svc_kube_vision_opencvplus/dependencies/hdf5opencv"]
	path = svc_kube_vision_opencvplus/dependencies/hdf5opencv
	url = https://github.com/dimatura/hdf5opencv
[submodule "svc_kube_vision_opencvplus/dependencies/onbnn"]
	path = svc_kube_vision_opencvplus/dependencies/onbnn
	url = https://github.com/regisb/onbnn
[submodule "svc_kube_vision_opencvplus/dependencies/RotateMeFast"]
	path = svc_kube_vision_opencvplus/dependencies/RotateMeFast
	url = https://github.com/ffreling/RotateMeFast
[submodule "svc_kube_vision_opencvplus/dependencies/filedl"]
	path = svc_kube_vision_opencvplus/dependencies/filedl
	url = https://github.com/ffreling/filedl
[submodule "svc_kube_vision_opencvplus/ui/ArchitectureTree"]
	path = svc_kube_vision_opencvplus/ui/ArchitectureTree
	url = https://github.com/marmelab/ArchitectureTree
[submodule "svc_kube_vision_opencvplus/ui/admin-config"]
	path = svc_kube_vision_opencvplus/ui/admin-config
	url = https://github.com/marmelab/admin-config
[submodule "svc_kube_vision_opencvplus/ui/ng-admin-demo"]
	path = svc_kube_vision_opencvplus/ui/ng-admin-demo
	url = https://github.com/marmelab/ng-admin-demo
[submodule "svc_kube_vision_opencvplus/ui/react-admin"]
	path = svc_kube_vision_opencvplus/ui/react-admin
	url = https://github.com/marmelab/react-admin
[submodule "svc_kube_vision_opencvplus/ui/ng-admin"]
	path = svc_kube_vision_opencvplus/ui/ng-admin
	url = https://github.com/marmelab/ng-admin
[submodule "svc_kube_vision_opencvplus/ui/EventDrops"]
	path = svc_kube_vision_opencvplus/ui/EventDrops
	url = https://github.com/marmelab/EventDrops
[submodule "svc_kube_vision_opencvplus/dependencies/qhttpserver"]
	path = svc_kube_vision_opencvplus/dependencies/qhttpserver
	url = https://github.com/nikhilm/qhttpserver
[submodule "mobile_app/libs/coherent-ui-virtual-touch"]
	path = mobile_app/libs/coherent-ui-virtual-touch
	url = https://github.com/lmalave/coherent-ui-virtual-touch
[submodule "mobile_app/libs/unreal-augmented-reality-toolkit"]
	path = mobile_app/libs/unreal-augmented-reality-toolkit
	url = https://github.com/lmalave/unreal-augmented-reality-toolkit
[submodule "mobile_app/libs/CoherentUIMobileOpenSource"]
	path = mobile_app/libs/CoherentUIMobileOpenSource
	url = https://github.com/CoherentLabs/CoherentUIMobileOpenSource
[submodule "mobile_app/libs/CoherentUI_Ogre3D"]
	path = mobile_app/libs/CoherentUI_Ogre3D
	url = https://github.com/CoherentLabs/CoherentUI_Ogre3D
[submodule "mobile_app/libs/CoherentUI_CryEngine3"]
	path = mobile_app/libs/CoherentUI_CryEngine3
	url = https://github.com/CoherentLabs/CoherentUI_CryEngine3
[submodule "mobile_app/libs/Augmented-Reality-on-Qt"]
	path = mobile_app/libs/Augmented-Reality-on-Qt
	url = https://github.com/DistinctVision/Augmented-Reality-on-Qt
[submodule "mobile_app/libs/QScrollEngine"]
	path = mobile_app/libs/QScrollEngine
	url = https://github.com/DistinctVision/QScrollEngine
[submodule "svc_kube_vision_opencvplus/dependencies/OpenSSL-CMake"]
	path = svc_kube_vision_opencvplus/dependencies/OpenSSL-CMake
	url = https://github.com/pol51/OpenSSL-CMake
[submodule "svc_kube_vision_opencvplus/dependencies/snap"]
	path = svc_kube_vision_opencvplus/dependencies/snap
	url = https://github.com/cmakesnap/snap
[submodule "svc_kube_vision_opencvplus/dependencies/smap-stanford"]
	path = svc_kube_vision_opencvplus/dependencies/smap-stanford
	url = https://github.com/snap-stanford/snap
[submodule "svc_kube_vision_opencvplus/dependencies/xgboost"]
	path = svc_kube_vision_opencvplus/dependencies/xgboost
	url = https://github.com/dmlc/xgboost
[submodule "svc_kube_vision_opencvplus/dependencies/qhttpserver2"]
	path = svc_kube_vision_opencvplus/dependencies/qhttpserver2
	url = https://github.com/Nava2/qhttpserver
[submodule "svc_kube_vision_opencvplus/dependencies/qhttpserver.custom"]
	path = svc_kube_vision_opencvplus/dependencies/qhttpserver.custom
	url = https://github.com/Nava2/qhttpserver
[submodule "svc_kube_vision_opencvplus/dependencies/dlib"]
	path = svc_kube_vision_opencvplus/dependencies/dlib
	url = https://github.com/davisking/dlib.git
[submodule "svc_kube_vision_opencvplus/dependencies/DLib"]
	path = svc_kube_vision_opencvplus/dependencies/DLib
	url = https://github.com/dorian3d/DLib
[submodule "svc_kube_vision_opencvplus/dependencies/Dlib.dorian"]
	path = svc_kube_vision_opencvplus/dependencies/Dlib.dorian
	url = https://github.com/dorian3d/DLib
[submodule "svc_kube_vision_opencvplus/dependencies/sirius.custom"]
	path = svc_kube_vision_opencvplus/dependencies/sirius.custom
	url = https://github.com/emergingstack/sirius
[submodule "svc_kube_vision_opencvplus/dependencies/easyexif"]
	path = svc_kube_vision_opencvplus/dependencies/easyexif
	url = https://github.com/mayanklahiri/easyexif
[submodule "svc_kube_vision_opencvplus/dependencies/oiio"]
	path = svc_kube_vision_opencvplus/dependencies/oiio
	url = https://github.com/OpenImageIO/oiio
[submodule "svc_kube_vision_opencvplus/dependencies/tesseract"]
	path = svc_kube_vision_opencvplus/dependencies/tesseract
	url = https://github.com/tesseract-ocr/tesseract
[submodule "svc_kube_vision_opencvplus/dependencies/LibRaw"]
	path = svc_kube_vision_opencvplus/dependencies/LibRaw
	url = https://github.com/LibRaw/LibRaw
[submodule "svc_kube_vision_opencvplus/dependencies/sirius"]
	path = svc_kube_vision_opencvplus/dependencies/sirius
	url = https://github.com/claritylab/sirius
[submodule "svc_kube_vision_opencvplus/dependencies/libjpeg"]
	path = svc_kube_vision_opencvplus/dependencies/libjpeg
	url = https://github.com/LuaDist/libjpeg
[submodule "svc_kube_vision_opencvplus/dependencies/tessdata"]
	path = svc_kube_vision_opencvplus/dependencies/tessdata
	url = https://github.com/tesseract-ocr/tessdata
[submodule "svc_kube_vision_opencvplus/dependencies/langdata"]
	path = svc_kube_vision_opencvplus/dependencies/langdata
	url = https://github.com/tesseract-ocr/langdata
[submodule "svc_kube_vision_opencvplus/dependencies/MITIE"]
	path = svc_kube_vision_opencvplus/dependencies/MITIE
	url = https://github.com/mit-nlp/MITIE
[submodule "svc_kube_vision_opencvplus/dependencies/vtool"]
	path = svc_kube_vision_opencvplus/dependencies/vtool
	url = https://github.com/Erotemic/vtool
[submodule "svc_kube_vision_opencvplus/dependencies/libjson-rpc-cpp"]
	path = svc_kube_vision_opencvplus/dependencies/libjson-rpc-cpp
	url = https://github.com/cinemast/libjson-rpc-cpp
[submodule "svc_kube_vision_opencvplus/dependencies/cpprestsdk"]
	path = svc_kube_vision_opencvplus/dependencies/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk
[submodule "svc_kube_vision_opencvplus/dependencies/PlistCpp"]
	path = svc_kube_vision_opencvplus/dependencies/PlistCpp
	url = https://github.com/Microsoft/PlistCpp
[submodule "svc_kube_vision_opencvplus/dependencies/leptonica"]
	path = svc_kube_vision_opencvplus/dependencies/leptonica
	url = https://github.com/horndude77/leptonica.git
[submodule "svc_kube_vision_opencvplus/dependencies/zlib"]
	path = svc_kube_vision_opencvplus/dependencies/zlib
	url = https://github.com/madler/zlib
[submodule "svc_kube_vision_opencvplus/dependencies/tensorflow"]
	path = svc_kube_vision_opencvplus/dependencies/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "kube-query-expansion/libs/go.leptonica"]
	path = kube-query-expansion/libs/go.leptonica
	url = https://github.com/GeertJohan/go.leptonica
[submodule "kube-query-expansion/libs/filedl"]
	path = kube-query-expansion/libs/filedl
	url = https://github.com/ffreling/filedl
[submodule "svc_kube_vision_opencvplus/dependencies/caffe2"]
	path = svc_kube_vision_opencvplus/dependencies/caffe2
	url = https://github.com/Yangqing/caffe2/
[submodule "svc_kube_vision_opencvplus/dependencies/caffe-extractor"]
	path = svc_kube_vision_opencvplus/dependencies/caffe-extractor
	url = https://github.com/jhauswald/caffe-extractor
[submodule "svc_kube_vision_opencvplus/dependencies/keras"]
	path = svc_kube_vision_opencvplus/dependencies/keras
	url = https://github.com/fchollet/keras
[submodule "svc_kube_vision_opencvplus/dependencies/caffe"]
	path = svc_kube_vision_opencvplus/dependencies/caffe
	url = https://github.com/BVLC/caffe
[submodule "svc_kube_vision_opencvplus/dependencies/mcrouter"]
	path = svc_kube_vision_opencvplus/dependencies/mcrouter
	url = https://github.com/facebook/mcrouter
[submodule "svc_kube_vision_opencvplus/dependencies/folly"]
	path = svc_kube_vision_opencvplus/dependencies/folly
	url = https://github.com/facebook/folly
[submodule "svc_kube_vision_opencvplus/dependencies/open-voc-sergio"]
	path = svc_kube_vision_opencvplus/dependencies/open-voc-sergio
	url = https://github.com/ronghanghu/open-voc-sergio.git
[submodule "svc_kube_vision_opencvplus/dependencies/multibox"]
	path = svc_kube_vision_opencvplus/dependencies/multibox
	url = https://github.com/google/multibox
[submodule "kube-query-expansion/libs/vulcan-config-builder"]
	path = kube-query-expansion/libs/vulcan-config-builder
	url = https://github.com/Financial-Times/vulcan-config-builder
[submodule "kube-query-expansion/libs/kubernetes-vulcand-router"]
	path = kube-query-expansion/libs/kubernetes-vulcand-router
	url = https://github.com/Nordstrom/kubernetes-vulcand-router
[submodule "kube-query-expansion/libs/romulus"]
	path = kube-query-expansion/libs/romulus
	url = https://github.com/timelinelabs/romulus
